.content-top-movers {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8b949e1e;
    margin-top: -1rem;
    border-radius: 0.5rem;

}

.random-crypto-currencies {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-gainers-losers {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    border-top: 3px solid #ff9800;
    margin-bottom: 1rem;
}

.gainers,
.losers {
    width: 34rem;
    height: 10rem;
    display: flex;
    align-items: start;
    padding: 1rem;
    background-color: #8b949e;
    border-radius: 0.5rem;
    flex-direction: column;
    gap: 1rem;
}

.gainers-list, .losers-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.gainers-list>div,.losers-list>div{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.gainers-list>div>p,.losers-list>div>p{
    margin: 0;
    padding: 0;
    width: 30%;
    text-align: right;
}
