.crypto-card-basic{
    width: 98%;
    height: 5rem;
    background-color: #8b949e;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;

}

.crypto-card-basic p{
    width: 20%;
    font-size: 24px;
    text-align: center;

}

.currency-name{
    font-weight: bold;
}

.currency-chart{
    margin-right: 4rem;
}

.historical-chart-list {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ffffff1e;
}