.crypto-card-basic {
    width: 98%;
    height: 5rem;
    background-color: #8b949e;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;

}

.crypto-card-basic p {
    width: 20%;
    font-size: 24px;
    text-align: center;

}

.currency-name {
    font-weight: bold;
}

.currency-chart {
    margin-right: 4rem;
}

.historical-chart-list {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ffffff1e;
}


/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    .historical-chart-list {
        display: none;
    }

    .crypto-card-basic p {
        font-size: 18px;
    }


}

/* Estilos para mobile */
@media (max-width: 767px) {

    .historical-chart-list,
    .currency-price,
    .currency-change,
    .id-currency {
        display: none;
    }

    .crypto-card-basic p {
        font-size: 18px;
    }

}